/* http://www.menucool.com */

#sliderFrame {
    float: left;
    position: relative;
    width: 600px;
}

/*remove the "margin:0 auto;" if you want to align the whole slider to the left side*/

#ribbon {
    background: url(ribbon.png) no-repeat;
    height: 111px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 111px;
    z-index: 7;
}

#slider {
    background: #fff url(loading.gif) no-repeat 50% 50%;
    box-shadow: 0px 1px 5px #999999;
    height: 278px; /* Make it the same size as your images */
    margin: 0 auto; /*make the image slider center-aligned */
    position: relative;
    width: 600px;
}

#slider img {
    border: none;
    display: none;
    position: absolute;
}

/* the link style (if an image is wrapped in a link) */

#slider a.imgLink {
    border: 0;
    display: none;
    height: 100%;
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

/* Caption styles */

div.mc-caption-bg, div.mc-caption-bg2 {
    bottom: 0px; /*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
    font-size: 0;
    height: auto;
    left: 0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

div.mc-caption-bg { background-color: black; }

div.mc-caption {
    color: #EEE;
    font: bold 14px/20px Arial;
    padding: 10px 0; /*Adding a padding-left or padding-right here will make the caption area wider than its background. Sometimes you may need to define its width again here to keep it the same width as its background area (div.mc-caption-bg).*/
    text-align: center;
    z-index: 4;
}

div.mc-caption a { color: #FB0; }

div.mc-caption a:hover { color: #DA0; }


/* ------ built-in navigation bullets wrapper ------*/

div.navBulletsWrapper {
    background: none;
    cursor: pointer;
    left: 250px; /* Its position is relative to the #slider */
    padding-left: 20px;
    position: relative;
    top: 300px;
    width: 150px;
    z-index: 5;
}

/* each bullet */

div.navBulletsWrapper div {
    background: transparent url(bullet.png) no-repeat 0 0;
    cursor: pointer;
    float: left;
    height: 11px;
    margin-right: 11px; /* distance between each bullet*/
    overflow: hidden;
    vertical-align: middle;
    width: 11px;
    _position: relative; /*IE6 hack*/
}

div.navBulletsWrapper div.active { background-position: 0 -11px; }


/* --------- Others ------- */

#slider {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}