@using Condominium2000.Helpers
@using Condominium2000.Resources.News
@model Condominium2000.Models.ViewModels.NewsViewModel

@{
    Layout = "~/Views/InformationPanel/PanelNews_Layout.cshtml";
    ViewBag.Title = Index.VIEW_BAG_TITLE;
}

<div id="menu">
    <div id="menu_center">
        <div id="menu_content">
            <div id="header_login">
                @Html.Partial("_LanguagePartial")
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div id="content_margin_top"></div>
    <div id="content_center" class="center">
        <div id="content_top">
            <div id="content_margin_left"></div>
            <div id="content_large_container">
                <div id="content_large">
                    @foreach (var news in Model.News)
                    {
                        <a href="ShowNews/@news.Id">
                            <div id="news_item_{@news.Id}" class="news_item">
                                <h1>
                                    @Html.ReturnLanguageContent(news, TableContent.Title)
                                </h1>

                                <h3>
                                    @news.DateCreated
                                </h3>

                                <div class="news_item_divider"></div>
                                <div class="default_html">

                                    @{ var content = Html.ReturnLanguageContent(news, TableContent.HtmlContent); }
                                    @{ content = Html.RemovePanelTags(content); }
                                    @Html.Raw(Html.Truncate(content, Constants.NewsIndexTruncateSize))
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>